block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-blog
        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                span Блог

        h1 Блог

        .subscribe
            .subscribe__link.js--popup-subscribe-show
                span Подпишитесь на рассылку и будьте в курсе модных новостей!
                img(src='../../../img/img--letter.png' alt /)

            .subscribe-popup
                a(href="").subscribe-popup-close
                h5 Подписка на рассылку

                p Новые записи, советы, инструкции, конкурсы, акции и скидки прямиком к Вам в почтовый ящик!

                form(action="../../../js/ajax/subscribe.php" method="post").main-form.subs-form
                    label
                        input(type='text' name="mail" placeholder="Ваш e-mail адрес" required).inp.required.input-mail
                    a(href="").btn-blue.js--form-submit Подписаться
                    a(href="../pagePopup/subs-ok.html" class="fancybox.ajax").fancy.hidden-block.js--subs-ok

        .tabs
            ul.tabs__caption
                li.active Все записи (241)
                li Новости (32)
                li Конкурсы (12)
                li Скидки и акции (3)
                li Вопросы и ответы (3)
                li Модные статьи (3)

            .tabs__content.active
                ul.blog-list
                    li.blog-list__el
                        a(href="")
                            h5 Примитивный конфликт: методология и особенности
                        p Харизматическое лидерство, тем более в условиях социально-экономического кризиса, важно вызывает теоретический бихевиоризм. Постиндустриализм традиционен. Политическое учение Н. Макиавелли, в первом приближении, доказывает плюралистический англо-американский тип политтип политической куической культуры. Либерализм, с другой стороны, практ ически обретает элемент политического процесса. Согласно данным Фонда "Общественное мнение", политического поцесса теоретически...
                        .blog-list__el--links
                            a(href="")
                                img(src="../../../img/icon--show.png" alt /)
                                = " Читать запись"

                            a(href="")
                                img(src="../../../img/icon--comment.png" alt /)
                                = " Комментарии (12)"

                            time Добавлено 7 сентября 2015 в 13:15

                    li.blog-list__el
                        a(href="")
                            h5 Примитивный конфликт: методология и особенности
                        p Харизматическое лидерство, тем более в условиях социально-экономического кризиса, важно вызывает теоретический бихевиоризм. Постиндустриализм традиционен. Политическое учение Н. Макиавелли, в первом приближении, доказывает плюралистический англо-американский тип политтип политической куической культуры. Либерализм, с другой стороны, практ ически обретает элемент политического процесса. Согласно данным Фонда "Общественное мнение", политического поцесса теоретически...
                        .blog-list__el--links
                            a(href="")
                                img(src="../../../img/icon--show.png" alt /)
                                = " Читать запись"

                            a(href="")
                                img(src="../../../img/icon--comment.png" alt /)
                                = " Комментарии"

                            time Добавлено 7 сентября 2015 в 13:15

            .tabs__content
                ul.blog-list
                    li.blog-list__el
                        a(href="")
                            h5 Примитивный конфликт: методология и особенности
                        p Харизматическое лидерство, тем более в условиях социально-экономического кризиса, важно вызывает теоретический бихевиоризм. Постиндустриализм традиционен. Политическое учение Н. Макиавелли, в первом приближении, доказывает плюралистический англо-американский тип политтип политической куической культуры. Либерализм, с другой стороны, практ ически обретает элемент политического процесса. Согласно данным Фонда "Общественное мнение", политического поцесса теоретически...
                        .blog-list__el--links
                            a(href="")
                                img(src="../../../img/icon--show.png" alt /)
                                = " Читать запись"

                            a(href="")
                                img(src="../../../img/icon--comment.png" alt /)
                                = " Комментарии"

                            time Добавлено 7 сентября 2015 в 13:15

            .tabs__content

            .tabs__content

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/blog.jpg",opacity: 0.5,top: 0,left: 258,center: false,clip: true,show: false});});