.page-contacts
  padding 0 20px

  h4
    padding-bottom 22px

  .contact__links
    display block
    margin-bottom 34px

    a
      display inline-block
      vertical-align middle
      font-size 24px
      color $cBlack
      font-weight 500
      margin-right 34px

      img
        display inline-block
        vertical-align middle
        width 38px
        height 38px
        margin-right 10px

  .contacts__moskow-shop
    margin-bottom 33px

    h6
      padding-bottom 13px

      img
        width 19px
        height 19px
        border-radius 19px
        display inline-block
        vertical-align baseline
        margin-left 7px
        margin-right 8px

      span
        display inline-block
        vertical-align top
        position relative
        font-weight 300
        font-size 14px
        line-height 41px

    p
      display block
      font-size 15px
      color $cBlack
      padding-bottom 16px
      line-height 17px

      strong
        display block
        font-weight 500

      a
        display block

        span
          border-bottom 1px dashed $cGreen
          color $cGreen

      a:hover
        span
          border-bottom 1px dashed transparent

  .contacts__pasport
    display block
    padding-bottom 33px

    img
      display inline-block
      vertical-align top

    &-text
      display inline-block
      vertical-align top
      margin-left 25px
      width 860px
      padding-top 14px

      p
        display block
        color #63423d
        font-size 14px
        padding-bottom 19px

        strong
          font-weight 500

  .contacts__subway
    padding-bottom 43px

    ul
      margin-top 19px

      li
        display block
        font-weight 300
        font-size 13px
        padding-bottom 11px

        img
          width 19px
          height 19px
          border-radius 19px
          display inline-block
          vertical-align middle
          margin-right 6px

  .contacts__region
    padding-bottom 53px

    h6
      padding-bottom 17px

    p
      display block
      font-size 15px
      padding-bottom 11px

      a
        display inline-block
        vertical-align top
        color $cGreen
        border-bottom 1px dashed $cGreen
        margin-left 10px

      a:hover
        border-bottom 1px dashed transparent

  .contacts__params
    padding-bottom 40px

    &--props
      display inline-block
      vertical-align top
      width 510px

      h6
        a
          display inline-block
          vertical-align top
          margin-left 54px
          margin-top 12px
          position relative
          color $cGreen
          text-decoration underline

        a:hover
          text-decoration none

        a:before
          position absolute
          content ''
          width 20px
          height 20px
          background url("../img/icon-props.png") no-repeat 0 0
          top -1px
          left -27px

    &--button
      display inline-block
      vertical-align top
      width 510px

      h6
        padding-bottom 30px

      p.contacts__params--button-text
        display inline-block
        vertical-align top
        color #aeaeae
        font-size 14px
        margin-top 30px

      a
        display inline-block
        vertical-align top
        margin-top 39px
        margin-left 36px
        padding-left 35px
        position relative
        color $cGreen
        width 100px

      a:before
        position absolute
        content ''
        width 17px
        height 20px
        background url("../img/icon--copy.png") no-repeat 0 0
        top -2px
        left 2px