.page-opt
  padding 0 20px

  h1
    color $cPink
    margin-bottom 20px

  .opt--types
    margin-bottom  30px
    padding-top 30px

    .opt-half
      display inline-block
      vertical-align top
      width 500px
      text-align left

      &--img
        display block
        overflow hidden
        height 250px

        img
          min-width 100%
          min-height 100%

      &--link
        text-align center
        padding-bottom 20px
        padding-top 20px

        a
          font-weight 300
          font-size 24px
          color $cGreen
          border-bottom 1px solid $cGreen

        a:hover
          border-bottom 1px solid transparent

      p
        margin-bottom 18px

      .btn-green
        width 410px
        text-align center
