block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-about

        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                span О нас

        section.section-text
            h1 О нас

            .about--info
                p Современной женщине предлагается быть хорошей хозяйкой, классным профессионалом, экономно вести семейный бюджет, выглядеть ухоженной и&nbsp;следовать модным тенденциям
                p Как&nbsp;же объять необъятное и&nbsp;совместить несовместимое?
                p В&nbsp;бездонных пучинах интернет-пространства есть, на&nbsp;первый взгляд, ответ на&nbsp;любой вопрос: тематические сайты о&nbsp;семье и&nbsp;браке, порталы о&nbsp;моде и&nbsp;кулинарии, сообщества любителей лечиться и&nbsp;учиться, советы специалистов и&nbsp;дилетантов о&nbsp;том, как познакомится, завлечь, удержать, выйти замуж, родить, воспитать, жить долго и&nbsp;счастливо и&nbsp;умереть в&nbsp;один день.
                p
                    strong Готовых решений&nbsp;&mdash; миллион. Но&nbsp;всем&nbsp;ли они подходят?
                p Наша команда, вдохновленная идеей дать женщинам возможность красиво и&nbsp;модно одевать себя и&nbsp;своих близких, не&nbsp;теряя при этом индивидуальности, используя преимущества on-line-покупок и&nbsp;современные достижения швейного производства, не&nbsp;проигрывая в&nbsp;качестве готовой одежде и&nbsp;выигрывая в&nbsp;цене, представляет на&nbsp;ваш суд проект МОДНЫЕ ВМЕСТЕ.
                p Он&nbsp;предлагает персональные решения для каждой из&nbsp;вас.

            .about__review-top
                .about__review-top--text
                    p Добрый день!
                    p Хотелось&nbsp;бы поблагодарить магазин за&nbsp;разнообразный ассортимент и&nbsp;качество тканей. Заказывала американский хлопок разных расцветок и&nbsp;трикотаж, ткани пришли изумительные в&nbsp;соответствии с&nbsp;заявленными на&nbsp;сайте, осталась очень довольна. Также хотелось&nbsp;бы поблагодарить отдельно Марию за&nbsp;сервис, спасибо благодаря Вам &laquo;Модные вместе&raquo; станет моим любимым интернет-магазином. Один минус&nbsp;&mdash; доставка (была почта России, других доставок до&nbsp;моего города не&nbsp;было), пришлось подождать, но&nbsp;ткани стоят того чтобы ждать.
                    p Спасибо, Модные вместе!

                a Еще 284 отзыва о “Модных Вместе”

        section.about--slider
            div(data-nav="thumbs" data-loop="true").fotorama

                a(href="../../../img/img--about-slider-1.jpg" data-caption="<strong>Ольга Иванова, 28 лет</strong> Самый модный менеджер оптовых продаж")
                    img(src="../../../img/img--about-slider-1-s.jpg" height="85" width="160")

                a(href="../../../img/img--about-slider-1.jpg" data-caption="<strong>Заголовок 2</strong> подпись 2")
                    img(src="../../../img/img--about-slider-1-s.jpg" height="85" width="160")

                a(href="../../../img/img--about-slider-1.jpg" data-caption="<strong>Заголовок 3</strong> подпись 3")
                    img(src="../../../img/img--about-slider-1-s.jpg" height="85" width="160")

        section.section-text
            h5
                strong «Модные вместе»
                = "— это стиль и индивидуальность,"
                br
                = "качество и практичность, творчество, совместный досуг и общение с ребенком! "

        section.section-reviews
            h2.bg--green-left Отзывы

            ul.reviews-list
                li.reviews-list__el
                    .reviews-list__el--header
                        time 12.02.2015
                        span Елена Иванова
                    .reviews-list__el--content
                        p  Ассортимент конечно хороший! Время ожидания заказа указанное на&nbsp;сайте не&nbsp;соответствует действительности! Оформила заказ в&nbsp;четверг&nbsp;&mdash; никто в&nbsp;течении дня не&nbsp;перезвонил, пятница вечер&nbsp;&mdash; звоню узнать что с&nbsp;моим заказом?! есть-ли в&nbsp;наличии что я&nbsp;заказала и&nbsp;когда его соберут и&nbsp;почему тишина? ОТВЕТ оператора&nbsp;&mdash; не&nbsp;знаю, наверное в&nbsp;понедельник или вторник, или в&nbsp;течении недели... Т.е. мой заказ уже второй день не&nbsp;начали оформлять/собирать? Живу в&nbsp;Москве, но&nbsp;по&nbsp;отзывам похоже что в&nbsp;область заказы быстрее приходят. Очень хочется увидеть эти красивые ткани. И&nbsp;точно знать&nbsp;&mdash; когда. Как то&nbsp;не&nbsp;серьезно рекламироваться, а&nbsp;потом говорить клиенту&nbsp;&mdash; вас клиентов много, не&nbsp;справляемся...Интересно мой отзыв тут появится?....
                            a Читать далее

                li.reviews-list__el
                    .reviews-list__el--header
                        time 12.02.2015
                        span Елена Иванова
                    .reviews-list__el--content
                        p  Ассортимент конечно хороший! Время ожидания заказа указанное на&nbsp;сайте не&nbsp;соответствует действительности! Оформила заказ в&nbsp;четверг&nbsp;&mdash; никто в&nbsp;течении дня не&nbsp;перезвонил, пятница вечер&nbsp;&mdash; звоню узнать что с&nbsp;моим заказом?! есть-ли в&nbsp;наличии что я&nbsp;заказала и&nbsp;когда его соберут и&nbsp;почему тишина? ОТВЕТ оператора&nbsp;&mdash; не&nbsp;знаю, наверное в&nbsp;понедельник или вторник, или в&nbsp;течении недели... Т.е. мой заказ уже второй день не&nbsp;начали оформлять/собирать? Живу в&nbsp;Москве, но&nbsp;по&nbsp;отзывам похоже что в&nbsp;область заказы быстрее приходят. Очень хочется увидеть эти красивые ткани. И&nbsp;точно знать&nbsp;&mdash; когда. Как то&nbsp;не&nbsp;серьезно рекламироваться, а&nbsp;потом говорить клиенту&nbsp;&mdash; вас клиентов много, не&nbsp;справляемся...Интересно мой отзыв тут появится?....
                            a Читать далее

                li.reviews-list__el
                    .reviews-list__el--header
                        time 12.02.2015
                        span Елена Иванова
                    .reviews-list__el--content
                        p  Ассортимент конечно хороший! Время ожидания заказа указанное на&nbsp;сайте не&nbsp;соответствует действительности! Оформила заказ в&nbsp;четверг&nbsp;&mdash; никто в&nbsp;течении дня не&nbsp;перезвонил, пятница вечер&nbsp;&mdash; звоню узнать что с&nbsp;моим заказом?! есть-ли в&nbsp;наличии что я&nbsp;заказала и&nbsp;когда его соберут и&nbsp;почему тишина? ОТВЕТ оператора&nbsp;&mdash; не&nbsp;знаю, наверное в&nbsp;понедельник или вторник, или в&nbsp;течении недели... Т.е. мой заказ уже второй день не&nbsp;начали оформлять/собирать? Живу в&nbsp;Москве, но&nbsp;по&nbsp;отзывам похоже что в&nbsp;область заказы быстрее приходят. Очень хочется увидеть эти красивые ткани. И&nbsp;точно знать&nbsp;&mdash; когда. Как то&nbsp;не&nbsp;серьезно рекламироваться, а&nbsp;потом говорить клиенту&nbsp;&mdash; вас клиентов много, не&nbsp;справляемся...Интересно мой отзыв тут появится?....
                            a Читать далее

                li.reviews-list__el
                    .reviews-list__el--header
                        time 12.02.2015
                        span Елена Иванова
                    .reviews-list__el--content
                        p  Ассортимент конечно хороший! Время ожидания заказа указанное на&nbsp;сайте не&nbsp;соответствует действительности! Оформила заказ в&nbsp;четверг&nbsp;&mdash; никто в&nbsp;течении дня не&nbsp;перезвонил, пятница вечер&nbsp;&mdash; звоню узнать что с&nbsp;моим заказом?! есть-ли в&nbsp;наличии что я&nbsp;заказала и&nbsp;когда его соберут и&nbsp;почему тишина? ОТВЕТ оператора&nbsp;&mdash; не&nbsp;знаю, наверное в&nbsp;понедельник или вторник, или в&nbsp;течении недели... Т.е. мой заказ уже второй день не&nbsp;начали оформлять/собирать? Живу в&nbsp;Москве, но&nbsp;по&nbsp;отзывам похоже что в&nbsp;область заказы быстрее приходят. Очень хочется увидеть эти красивые ткани. И&nbsp;точно знать&nbsp;&mdash; когда. Как то&nbsp;не&nbsp;серьезно рекламироваться, а&nbsp;потом говорить клиенту&nbsp;&mdash; вас клиентов много, не&nbsp;справляемся...Интересно мой отзыв тут появится?....
                            a Читать далее

                li.reviews-list__el
                    .reviews-list__el--header
                        time 12.02.2015
                        span Елена Иванова
                    .reviews-list__el--content
                        p  Ассортимент конечно хороший! Время ожидания заказа указанное на&nbsp;сайте не&nbsp;соответствует действительности! Оформила заказ в&nbsp;четверг&nbsp;&mdash; никто в&nbsp;течении дня не&nbsp;перезвонил, пятница вечер&nbsp;&mdash; звоню узнать что с&nbsp;моим заказом?! есть-ли в&nbsp;наличии что я&nbsp;заказала и&nbsp;когда его соберут и&nbsp;почему тишина? ОТВЕТ оператора&nbsp;&mdash; не&nbsp;знаю, наверное в&nbsp;понедельник или вторник, или в&nbsp;течении недели... Т.е. мой заказ уже второй день не&nbsp;начали оформлять/собирать? Живу в&nbsp;Москве, но&nbsp;по&nbsp;отзывам похоже что в&nbsp;область заказы быстрее приходят. Очень хочется увидеть эти красивые ткани. И&nbsp;точно знать&nbsp;&mdash; когда. Как то&nbsp;не&nbsp;серьезно рекламироваться, а&nbsp;потом говорить клиенту&nbsp;&mdash; вас клиентов много, не&nbsp;справляемся...Интересно мой отзыв тут появится?....
                            a Читать далее

            .section-reviews__links
                a(href="").section-reviews__links-all
                    img(src="../../../img/icon--opinion.png" alt /)
                    span Все отзывы

                a(href="").section-reviews__links-add.js--popup-review-show
                    img(src="../../../img/icon--pan.png" alt /)
                    span Добавить отзыв

                .popup-review
                    form(action="../../../js/ajax/review.php" method="post").main-form.review-form
                        .justifyed
                            input(type="text" name="name" placeholder="Ваше имя" required).inp.required
                            input(type="text" name="mail" placeholder="Ваш e-mail адрес" required).inp.required.input-mail

                        label
                            textarea(name="review" placeholder="Напишите ваш отзыв" required).required

                        label.result
                            a(href="").btn-green.js--form-submit Добавить отзыв
                        .hidden-block
                            a(href="../pagePopup/review-ok.html" class="fancybox.ajax").fancy.hidden-block.js--review-ok


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/about-company.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});