block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-career

        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                a(href="") О нас
            li
                span Вакансии

        h1 Вакансии

        .career--text
            p
                = "Вы живете в Москве или в ближайшем Подмосковье? Вы гражданин РФ? "
                br
                = "Вы хотите работать в молодом, дружном, энергичном, веселом коллективе? "
                br
                = "Вы хотите получать стабильную зарплату? "
                br
                = "Вам нравится делать людей чуть счастливее? "
                br
                = "Приходите к нам, МОДНЫЕ ВМЕСТЕ ждут Вас! "
                br
                = "Есть вакансия продавца тканей в торговый зал, опыт работы приветствуются! "
                br
                = "НЕ ПРИВЕТСТВУЮТСЯ: вспыльчивость, раздражительность, неграмотная речь, медлительность. "
                br
                = "Оформление – по ТК РФ. "
                br
                = "Склад-магазин - светлое, теплое, большое помещение с высокими потолками недалеко от М Бауманская."

        ul.vacancy
            li.vacancy__el
                span.vacancy__el--title
                    i 1
                    = "Продавец в торговый зал"
                .vacancy__el--about
                    span График работы 2 дня через 2 , с 11 до 20 часов.
                    span Зарплата оклад + % от продажи.

                span.vacancy__el--requirements Требования к кандидату:
                ul
                    li опыт работы по продаже тканей и фурнитуры
                    li знание свойств и качеств ассортимента и групп товаров
                    li умение работать с покупателем
                    li приветливость, улыбчивость, приятная внешность
                    li хорошая физическая форма – целый день на ногах!

            li.vacancy__el
                span.vacancy__el--title
                    i 2
                    = "Старший кассир"
                .vacancy__el--about
                    span График работы 2 дня через 2 , с 11 до 20 часов.
                    span Зарплата оклад + % от продажи.

                span.vacancy__el--requirements Требования к кандидату:
                ul
                    li опыт работы по продаже тканей и фурнитуры
                    li знание свойств и качеств ассортимента и групп товаров
                    li умение работать с покупателем
                    li приветливость, улыбчивость, приятная внешность
                    li хорошая физическая форма – целый день на ногах!

        ul.vacancy
            li.vacancy__el
                span.vacancy__el--title
                    i 1
                    = "Продавец в торговый зал"
                .vacancy__el--about
                    span График работы 2 дня через 2 , с 11 до 20 часов.
                    span Зарплата оклад + % от продажи.
                span.vacancy__el--requirements Требования к кандидату:
                ul
                    li опыт работы по продаже тканей и фурнитуры
                    li знание свойств и качеств ассортимента и групп товаров
                    li умение работать с покупателем
                    li приветливость, улыбчивость, приятная внешность
                    li хорошая физическая форма – целый день на ногах!
            li.vacancy__el
                span.vacancy__el--title
                    i 2
                    = "Старший кассир"
                .vacancy__el--about
                    span График работы 2 дня через 2 , с 11 до 20 часов.
                    span Зарплата оклад + % от продажи.
                span.vacancy__el--requirements Требования к кандидату:
                ul
                    li опыт работы по продаже тканей и фурнитуры
                    li знание свойств и качеств ассортимента и групп товаров
                    li умение работать с покупателем
                    li приветливость, улыбчивость, приятная внешность
                    li хорошая физическая форма – целый день на ногах!

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/career.jpg",opacity: 0.5,top: -5,left: 0,center: false,clip: true,show: false});});