.page-payment
  padding 0 20px

  .payment-list
    display block
    margin-top 42px

    li
      display block
      margin-bottom 64px

      .payment-list--title
        display block
        font-size 24px
        color #999999
        padding-bottom 22px

        small
          font-size 18px
          color #cccccc
          padding-left 15px

      p.instructuin
          display block
          width auto
          padding-left 0
          padding-top 0
          padding-bottom 20px

      .payment-list__method
        display block
        margin-bottom 23px

        p
          display inline-block
          vertical-align top
          width 790px
          padding-left 10px
          font-size 14px
          color #666666
          padding-top 7px

        .btn-green
          width 210px
          height 43px
          text-transform none
          margin-right 20px
          line-height 44px
          display inline-block
          vertical-align middle

        &--img
          display inline-block
          vertical-align middle
          width 170px
          padding-top 4px

          img
            max-width 100%

        &--comment
          display inline-block
          vertical-align middle

          span
            font-size 14px
            color #666666
