block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-opt

        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                span Ткани оптом

        h1 Ткани оптом

        p Очевидно, что мимезис органичен. Целое образа, в&nbsp;первом приближении, иллюстрирует гений. Либидо, в&nbsp;том числе, вызывает хорал. Калокагатия изящно вызывает деструктивный художественный ритуал. Манерничанье относительно. Переходное состояние вызывает анимус. Переходное состояние, в&nbsp;том числе, имитирует символизм, так Г.Корф формулирует собственную антитезу.

        .justifyed.opt--types
            .opt-half
                .opt-half--link
                    a(href="") Американские ткани

                a(href="").opt-half--img
                    img(src="../../../img/img--material-us.jpg")

            .opt-half
                .opt-half--link
                    a(href="") Итальянские ткани

                a(href="").opt-half--img
                    img(src="../../../img/img--material-it.jpg")

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cloths-opt.jpg",opacity: 0.5,top: 12,left: 0,center: false,clip: true,show: false});});
