block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-opt
        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                a(href="") Ткани оптом
            li
                span Американские ткани

        h1 Итальянские ткани

        p Радиант, на&nbsp;первый взгляд, неустойчив. Соединение последовательно. Многие кометы имеют два хвоста, однако кульминация прочно колеблет узел&nbsp;&mdash; это солнечное затмение предсказал ионянам Фалес Милетский. Противостояние притягивает астероидный возмущающий фактор, данное соглашение было заключено на&nbsp;2-й международной конференции &laquo;Земля из&nbsp;космоса&nbsp;&mdash; наиболее эффективные решения&raquo;.

        form(action="../../../js/ajax/filter.php" method="").filter-form
            .filter
                .justifyed
                    .form-col
                        .form-col__el
                            span Название ткани

                            .psevdoselect
                                span Выберите ткань
                                .trigger-arrow
                                .psevdoselect-hidden.name-list
                                    label.js--check-all
                                        input(type="checkbox" name="name" value="name__02")
                                        .checkbox-icon
                                            i
                                        span Все

                                    label
                                        input(type="checkbox" name="name" value="name__03")
                                        .checkbox-icon
                                            i
                                        span Американский хлопок 

                                    label
                                        input(type="checkbox" name="name" value="name__04")
                                        .checkbox-icon
                                            i
                                        span Атлас 

                                    label
                                        input(type="checkbox" name="name" value="name__05")
                                        .checkbox-icon
                                            i
                                        span Бархат 

                                    label
                                        input(type="checkbox" name="name" value="name__06")
                                        .checkbox-icon
                                            i
                                        span Батист 

                                    label
                                        input(type="checkbox" name="name" value="name__07")
                                        .checkbox-icon
                                            i
                                        span Букле 

                                    label
                                        input(type="checkbox" name="name" value="name__08")
                                        .checkbox-icon
                                            i
                                        span Вельвет 

                                    label
                                        input(type="checkbox" name="name" value="name__09")
                                        .checkbox-icon
                                            i
                                        span Вуаль 

                                    label
                                        input(type="checkbox" name="name" value="name__00")
                                        .checkbox-icon
                                            i
                                        span Вышивка 

                                    label
                                        input(type="checkbox" name="name" value="name__10")
                                        .checkbox-icon
                                            i
                                        span Габардин 

                                    label
                                        input(type="checkbox" name="name" value="name__11")
                                        .checkbox-icon
                                            i
                                        span Гипюр 

                                    label
                                        input(type="checkbox" name="name" value="name__12")
                                        .checkbox-icon
                                            i
                                        span Джерси 

                                    label
                                        input(type="checkbox" name="name" value="name__13")
                                        .checkbox-icon
                                            i
                                        span Джинс 

                                    label
                                        input(type="checkbox" name="name" value="name__14")
                                        .checkbox-icon
                                            i
                                        span Жаккард 

                                    label
                                        input(type="checkbox" name="name" value="name__15")
                                        .checkbox-icon
                                            i
                                        span Замша 

                                    label
                                        input(type="checkbox" name="name" value="name__16")
                                        .checkbox-icon
                                            i
                                        span Канвас 

                                    label
                                        input(type="checkbox" name="name" value="name__17")
                                        .checkbox-icon
                                            i
                                        span Кашемир 

                                    label
                                        input(type="checkbox" name="name" value="name__18")
                                        .checkbox-icon
                                            i
                                        span Клоке 

                                    label
                                        input(type="checkbox" name="name" value="name__19")
                                        .checkbox-icon
                                            i
                                        span Кожа 

                                    label
                                        input(type="checkbox" name="name" value="name__20")
                                        .checkbox-icon
                                            i
                                        span Креп

                                    label
                                        input(type="checkbox" name="name" value="name__21")
                                        .checkbox-icon
                                            i
                                        span Кружево 

                                    label
                                        input(type="checkbox" name="name" value="name__22")
                                        .checkbox-icon
                                            i
                                        span Купро 

                                    label
                                        input(type="checkbox" name="name" value="name__23")
                                        .checkbox-icon
                                            i
                                        span Лен 

                                    label
                                        input(type="checkbox" name="name" value="name__24")
                                        .checkbox-icon
                                            i
                                        span Лоден 

                                    label
                                        input(type="checkbox" name="name" value="name__25")
                                        .checkbox-icon
                                            i
                                        span Марлевка 

                                    label
                                        input(type="checkbox" name="name" value="name__26")
                                        .checkbox-icon
                                            i
                                        span Матлассе 

                                    label
                                        input(type="checkbox" name="name" value="name__27")
                                        .checkbox-icon
                                            i
                                        span Мех 

                                    label
                                        input(type="checkbox" name="name" value="name__28")
                                        .checkbox-icon
                                            i
                                        span Муслин 

                                    label
                                        input(type="checkbox" name="name" value="name__29")
                                        .checkbox-icon
                                            i
                                        span Органза 

                                    label
                                        input(type="checkbox" name="name" value="name__30")
                                        .checkbox-icon
                                            i
                                        span Пайетки 

                                    label
                                        input(type="checkbox" name="name" value="name__31")
                                        .checkbox-icon
                                            i
                                        span Парча 

                                    label
                                        input(type="checkbox" name="name" value="name__32")
                                        .checkbox-icon
                                            i
                                        span Пике 

                                    label
                                        input(type="checkbox" name="name" value="name__33")
                                        .checkbox-icon
                                            i
                                        span Платки 

                                    label
                                        input(type="checkbox" name="name" value="name__34")
                                        .checkbox-icon
                                            i
                                        span Плащевая ткань 

                                    label
                                        input(type="checkbox" name="name" value="name__35")
                                        .checkbox-icon
                                            i
                                        span Плиссе 

                                    label
                                        input(type="checkbox" name="name" value="name__36")
                                        .checkbox-icon
                                            i
                                        span Подкладочная ткань 

                                    label
                                        input(type="checkbox" name="name" value="name__37")
                                        .checkbox-icon
                                            i
                                        span Поплин 

                                    label
                                        input(type="checkbox" name="name" value="name__38")
                                        .checkbox-icon
                                            i
                                        span Репс 

                                    label
                                        input(type="checkbox" name="name" value="name__39")
                                        .checkbox-icon
                                            i
                                        span Рибана 

                                    label
                                        input(type="checkbox" name="name" value="name__40")
                                        .checkbox-icon
                                            i
                                        span Рогожка

                                    label
                                        input(type="checkbox" name="name" value="name__41")
                                        .checkbox-icon
                                            i
                                        span Рубашечная 

                                    label
                                        input(type="checkbox" name="name" value="name__42")
                                        .checkbox-icon
                                            i
                                        span Сатин 

                                    label
                                        input(type="checkbox" name="name" value="name__43")
                                        .checkbox-icon
                                            i
                                        span Сетка 

                                    label
                                        input(type="checkbox" name="name" value="name__44")
                                        .checkbox-icon
                                            i
                                        span Сирсакер 

                                    label
                                        input(type="checkbox" name="name" value="name__45")
                                        .checkbox-icon
                                            i
                                        span Стежка 

                                    label
                                        input(type="checkbox" name="name" value="name__46")
                                        .checkbox-icon
                                            i
                                        span Тафта 

                                    label
                                        input(type="checkbox" name="name" value="name__47")
                                        .checkbox-icon
                                            i
                                        span Твид 

                                    label
                                        input(type="checkbox" name="name" value="name__48")
                                        .checkbox-icon
                                            i
                                        span Трикотаж 

                                    label
                                        input(type="checkbox" name="name" value="name__49")
                                        .checkbox-icon
                                            i
                                        span Фланель 

                                    label
                                        input(type="checkbox" name="name" value="name__50")
                                        .checkbox-icon
                                            i
                                        span Флис 

                                    label
                                        input(type="checkbox" name="name" value="name__51")
                                        .checkbox-icon
                                            i
                                        span Фукра 

                                    label
                                        input(type="checkbox" name="name" value="name__52")
                                        .checkbox-icon
                                            i
                                        span Хлопок-стрейч 

                                    label
                                        input(type="checkbox" name="name" value="name__53")
                                        .checkbox-icon
                                            i
                                        span Шанель 

                                    label
                                        input(type="checkbox" name="name" value="name__54")
                                        .checkbox-icon
                                            i
                                        span Шелк 

                                    label
                                        input(type="checkbox" name="name" value="name__55")
                                        .checkbox-icon
                                            i
                                        span Шерсть 

                                    label
                                        input(type="checkbox" name="name" value="name__56")
                                        .checkbox-icon
                                            i
                                        span Шитье 

                                    label
                                        input(type="checkbox" name="name" value="name__57")
                                        .checkbox-icon
                                            i
                                        span Шифон 

                                    label
                                        input(type="checkbox" name="name" value="name__58")
                                        .checkbox-icon
                                            i
                                        span Штапель 

                                    label
                                        input(type="checkbox" name="name" value="name__59")
                                        .checkbox-icon
                                            i
                                        span Этамин

                        .form-col__el
                            span Состав
                            select(name="composition").inp-styled
                                option(value="composition__01" selected).filter-default Все
                                option(value="composition__02") Состав 2
                    .form-col
                        .form-col__el
                            span Назначение
                            select(name="appointment").inp-styled
                                option(value="appointment__01" selected).filter-default Все
                                optgroup(label="Одежда")
                                    option(value="appointment__02") Блузочная
                                    option(value="appointment__03") Костюмная
                                    option(value="appointment__04") Курточная

                                option(value="appointment__05") Постельное бель

                        .form-col__el
                            span Тематика
                            select(name="subjects").inp-styled
                                option(value="subjects__01" selected).filter-default Все
                                option(value="subjects__02") Тематика 2

                    .form-col
                        .form-col__el
                            span Цвет
                            .psevdoselect
                                span Выберите ткань
                                i.trigger-arrow
                                .psevdoselect-hidden.color-list
                                    label
                                        input(type="checkbox" name="color" value="color__01")
                                        .checkbox-icon
                                            i
                                        span Красный

                                    label
                                        input(type="checkbox" name="color" value="color__02")
                                        .checkbox-icon
                                            i
                                        span Оранжевый

                                    label
                                        input(type="checkbox" name="color" value="color__03")
                                        .checkbox-icon
                                            i
                                        span Желтый

                                    label
                                        input(type="checkbox" name="color" value="color__04")
                                        .checkbox-icon
                                            i
                                        span Зеленый

                                    label
                                        input(type="checkbox" name="color" value="color__05")
                                        .checkbox-icon
                                            i
                                        span Коричневый

                                    label
                                        input(type="checkbox" name="color" value="color__06")
                                        .checkbox-icon
                                            i
                                        span Синий

                                    label
                                        input(type="checkbox" name="color" value="color__07")
                                        .checkbox-icon
                                            i
                                        span Фиолетовый

                                    label
                                        input(type="checkbox" name="color" value="color__08")
                                        .checkbox-icon
                                            i
                                        span Белый

                                    label
                                        input(type="checkbox" name="color" value="color__09")
                                        .checkbox-icon
                                            i
                                        span Черный

                                    label
                                        input(type="checkbox" name="color" value="color__10")
                                        .checkbox-icon
                                            i
                                        span Мультиколор

                        .form-col__el
                            span Производитель
                            select(name="manufacturer").inp-styled
                                option(value="manufacturer__01" selected).filter-default Все
                                option(value="manufacturer__02") Производитель 2

                    .form-col.form-col-sm
                        .form-col__el
                            span Цена за метр
                            input(type="text" name="price_min").inp.range_min.slider-double-value
                            i -
                            input(type="text" name="price_min").inp.range_max.slider-double-value

                        .form-col__el
                            span Настройка цены
                            div(data-index="0" data-min_range="0" data-step="100" data-min-current="5000" data-max-current="20000" data-max_range="30000").filter--slide-line.js--slider-two

        .filter--links
            a(href="").filter-reset.js--filter-reset Сбросить фильтр

            a(href="").btn-green.js--show-result Показать
                i (0)

        section.filter-result
            .load-container
                ul.item-list
                    li.item-list__el
                        .visible
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-1.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Джерси
                                span.item-list__el__ifno-price 12
                                    i o
                                span.item-list__el__ifno-measure 0,1 м
                                    i 2

                        .hidden
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-1.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Джерси
                                span.item-list__el__ifno-price 12
                                    i o
                                span.item-list__el__ifno-measure 0,1 м
                                    i 2
                            .item-list__el__buttons
                                form(action="../../../js/ajax/add-basket.php" method="post")
                                    input(type="hidden" name="item_id" value="item_01")
                                    .counter(data-step="0.1")
                                        input(type="text" name="item_amount" maxlength="3").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove
                                    a.btn-green.js--add-basket В корзину
                                    .popup
                                        span Добавлено
                                        a Перейти в корзину
                            .item-list__el__links
                                a(href="../pagePopup/popup-item.html" class="fancybox.ajax").btn-green.fancy Быстрый просмотр
                                a(href="" data-url="../../../js/ajax/add-compare.php" data-method="post" data-id="item_01").btn-green.js--add-compare Сравнить


                    li.item-list__el
                        .visible
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-2.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Подкладочная ткань
                                span.item-list__el__ifno-price 350
                                    i o
                                span.item-list__el__ifno-measure м
                                    i 2

                        .hidden
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-2.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Подкладочная ткань
                                span.item-list__el__ifno-price 350
                                    i o
                                span.item-list__el__ifno-measure м
                                    i 2
                            .item-list__el__buttons
                                form(action="../../../js/ajax/add-basket.php" method="post")
                                    input(type="hidden" name="item_id" value="item_02")
                                    .counter(data-step="1")
                                        input(type="text" name="item_amount" maxlength="3").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove
                                    a.btn-green.js--add-basket В корзину
                                    .popup
                                        span Добавлено
                                        a Перейти в корзину
                            .item-list__el__links
                                a(href="../pagePopup/popup-item.html" class="fancybox.ajax").btn-green.fancy Быстрый просмотр
                                a(href="" data-url="../../../js/ajax/add-compare.php" data-method="post" data-id="item_02").btn-green.js--add-compare Сравнить

                    li.item-list__el
                        .visible
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-1.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Трикотаж заморский
                                span.item-list__el__ifno-price 900
                                    i o
                                span.item-list__el__ifno-measure м
                                    i 2
                        .hidden
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-1.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Трикотаж заморский
                                span.item-list__el__ifno-price 900
                                    i o
                                span.item-list__el__ifno-measure м
                                    i 2
                            .item-list__el__buttons
                                form(action="../../../js/ajax/add-basket.php" method="post")
                                    input(type="hidden" name="item_id" value="item_03")
                                    .counter(data-step="1")
                                        input(type="text" name="item_amount" maxlength="3").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove
                                    a.btn-green.js--add-basket В корзину
                                    .popup
                                        span Добавлено
                                        a Перейти в корзину
                            .item-list__el__links
                                a(href="../pagePopup/popup-item.html" class="fancybox.ajax").btn-green.fancy Быстрый просмотр
                                a(href="" data-url="../../../js/ajax/add-compare.php" data-method="post" data-id="item_03").btn-green.js--add-compare Сравнить

                    li.item-list__el
                        .visible
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-2.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Американский хлопок
                                span.item-list__el__ifno-price 1200
                                    i o
                                span.item-list__el__ifno-measure м
                                    i 2
                        .hidden
                            .item-list__el--img
                                a(href="")
                                    img(src="../../../img/img--material-2.jpg" alt /)
                            .item-list__el__ifno
                                a.item-list__el__ifno-title Американский хлопок
                                span.item-list__el__ifno-price 1200
                                    i o
                                span.item-list__el__ifno-measure м
                                    i 2
                            .item-list__el__buttons
                                form(action="../../../js/ajax/add-basket.php" method="post")
                                    input(type="hidden" name="item_id" value="item_04")
                                    .counter(data-step="1")
                                        input(type="text" name="item_amount" maxlength="3").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove
                                    a.btn-green.js--add-basket В корзину
                                    .popup
                                        span Добавлено
                                        a Перейти в корзину
                            .item-list__el__links
                                a(href="../pagePopup/popup-item.html" class="fancybox.ajax").btn-green.fancy Быстрый просмотр
                                a(href="" data-url="../../../js/ajax/add-compare.php" data-method="post" data-id="item_04").btn-green.js--add-compare Сравнить

                .filter-result__more
                    a(href="" data-url="../../../js/ajax/show-more.php" data-metod="post").js--show-more Показать еще 20 (Осталось 241)

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cloths-opt-it.jpg",opacity: 0.5,top: 2,left: 0,center: false,clip: true,show: false});});