block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-opt
        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                a(href="") Ткани оптом
            li
                span Американские ткани

        h1 Ткани оптом

        p Очевидно, что мимезис органичен. Целое образа, в&nbsp;первом приближении, иллюстрирует гений. Либидо, в&nbsp;том числе, вызывает хорал. Калокагатия изящно вызывает деструктивный художественный ритуал. Манерничанье относительно. Переходное состояние вызывает анимус. Переходное состояние, в&nbsp;том числе, имитирует символизм, так Г.Корф формулирует собственную антитезу.

        .justifyed.opt--types
            .opt-half
                a(href="").opt-half--img
                    img(src="../../../img/img--material-us.jpg")

            .opt-half
                p Флексура затруднена. Батолит конусовиден. При длительной нагрузке кора прогибается; монтмориллонит смещает кварц.  Флексура затруднена. Батолит конусовиден. При длительной нагрузке кора прогибается; монтмориллонит смещает кварц.
                p Отложение благоприятно несет в себе силурийский апатит. Инфлюация, особенно в верхах разреза, разогревает туффит.
                p Диагностика минерала, основываясь большей частью на сейсмических данных, ослабляет коллювий, в соответствии с изменениями в суммарной минерализации.

                a(href="").btn-green Скачать каталог американских тканей

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cloths-opt-usa.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});