doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}

        link(rel='stylesheet', href="/static/css/style.css")
        script(src="/static/js/app-common.js")
        script(src="/static/js/app.js")

    body

        block content
