@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'txt';

// UI
@import 'ui/slider';
@import 'ui/list';
@import 'ui/formstyler';
@import 'ui/input';
@import 'ui/btn';
@import 'ui/fancy';
@import 'ui/fotorama';
@import 'ui/vendor';
@import 'ui/filter';
@import 'ui/social';

// blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/popup';

//pages
@import 'pages/pageIndex';
@import 'pages/pageReview';
@import 'pages/pageAbout';
@import 'pages/pageBonus';
@import 'pages/pageCareer';
@import 'pages/pageSearchresult';
@import 'pages/pageOpt';
@import 'pages/pageСloths';
@import 'pages/pageMagazin';
@import 'pages/pageFurniture';
@import 'pages/pagePaymentorder';
@import 'pages/pageContacts';
@import 'pages/pageGoods';
@import 'pages/pageBasket';
@import 'pages/pagePaymentdelivery';
@import 'pages/pageBlog';
@import 'pages/pagePrivate';
@import 'pages/pageComprasion';