.popup--wrap
  padding 7px 0
  border 22px solid transparent
  -moz-border-image url(../img/border.png) 22 round round
  -webkit-border-image url(../img/border.png) 22 round round
  -o-border-image url(../img/border.png) 22 round round
  border-image url(../img/border.png) 22 round round
  background #ffffff

  .popup--inner
    background #fff
    padding 30px

    h2
      color $cRed
      text-shadow none
      display inline-block
      vertical-align top
      font-size 36px

    .right-link
      display inline-block
      vertical-align top
      color $cGreen
      font-size 14px
      text-decoration underline
      float right
      line-height 38px
      margin-top 6px

    .right-link:hover
      text-decoration none

    .main-form
      display block
      margin-top 25px

      label
        padding-bottom 18px
        display block

      .label-pass
        padding-bottom 5px
        position relative

        .show-pass
          position absolute
          top 10px
          right 15px
          font-size 18px
          z-index 5px
          cursor pointer
          font-family $fIcons

      .pass-forgot
        display block
        text-align right

        a
          color $cGreen
          font-size 11px
          font-weight 300
          text-decoration underline
          margin-right 1px

        a:hover
          text-decoration none

      .result
        position relative

        .error-text
          position absolute
          display block
          left 0
          right 0
          top 60px
          text-align center
          font-size 12px
          color #dc493c

      .btn-green
        display block
        margin-top 25px
        width 100%
        font-size 18px
        border-radius 5px

    .popup-social
      padding-top 45px
      text-align center

      span
        display block
        font-size 14px
        font-weight 300

      ul
        display block
        text-align center
        margin-top 10px

        li
          display inline-block
          vertical-align top
          margin 0 10px

          a
            display block
            width 47px
            height 47px
            background url("../img/sprite--social-l.png") no-repeat 0 0

          .social-fb
            background-position 0 0
          .social-tw
            background-position -66px 0
          .social-vk
            background-position -131px 0
          .social-gl
            background-position -197px 0

  .popup--inner.pass-ok

    h2
      text-align center
      display block

    p
      margin-top 20px
      color $cGreen
      font-size 14px
      text-align center

.popup-sm
  width 361px

.popup-md
  width 671px

  .popup--inner
    padding 30px 0

    .grid-item
      width 300px
      margin 0 17px

      .result

        a
          margin-top 0

      .popup-social
        padding-top 142px
        position relative

      .popup-social:before
        position absolute
        top 184px
        left -16px
        content 'или'
        color #cccccc
        font-size 14px
        font-weight 300
        font-family $fRoboto

.popup-l
  width 1101px

  .popup--inner
    padding 30px 0

  .popup-item__header
    display block
    padding 0 22px 16px 40px

    h2
      display block
      font-size 48px
      color $cGray

    span
      display block
      color $cGray
      font-size 18px
      padding-top 2px

      strong
        font-weight 500

  .popup-item__photo
    display inline-block
    vertical-align top
    width 520px
    margin-left 40px

    .tabs__content.active
      display inline-block

    .tabs__content
      display none
      vertical-align top
      width 410px
      height 390px
      overflow hidden

      img
        display block
        min-width 100%
        min-height 100%

    .tabs__caption
      display inline-block
      vertical-align top
      margin-left 3px
      width 93px

      li
        display block
        margin-bottom 6px
        width 93px
        height 93px
        overflow hidden
        cursor pointer

        img
          display block
          min-width 100%
          min-height 100%

  .popup-item__info
    display inline-block
    vertical-align top
    width 475px
    margin-left 35px
    margin-top -8px

    .popup-item__info-price
      display inline-block
      vertical-align top
      font-size 38px
      color $cRed
      margin-right 10px

      i
        font-family $fRublre

    .popup-item__info-measure
      color $cGray
      font-size 38px

      i
        font-style normal
        font-size 16px
        line-height 24px
        vertical-align top

    .popup-item__info--params
      display block
      margin-top 12px

      span
        display block
        font-size 14px
        font-weight 300
        margin-bottom -1px

        strong
          font-weight 500

    p
      display block
      font-weight 300
      font-size 14px
      margin-top 18px
      line-height 16px

    .popup-item__info-icons
      margin-top 25px
      display block
      text-align left

      li
        margin-right 13px

        img
          display block
          width 52px
          height 40px

    .popup-item__info__buttons
      margin-top 30px

      label
        display inline-block
        vertical-align top
        width 100px
        margin-right 12px

        .inp
          border 1px solid #cccccc
          width 100px
          height 69px
          line-height 69px
          font-size 18px

        a
          right 5px

        .counter-add
          top 5px
        .counter-remove
          bottom 5px

      .btn-green
        display inline-block
        vertical-align top
        height 69px
        width 220px
        margin-right 15px
        text-align center
        padding-left 50px
        position relative

        strong
          font-weight 400
          text-transform uppercase
          display block
          padding-top 2px
          font-size 18px

        i
          display block
          text-align center
          font-size 14px
          line-height 14px
          text-transform none

      .btn-green:after
        position absolute
        font-size 24px
        content ''
        background url("../img/icon--basket-l.png") no-repeat 0 0
        top 23px
        left 27px
        width 26px
        height 25px

      div
        display inline-block
        vertical-align top
        width 110px
        padding-top 27px

        a
          display block
          margin-bottom 10px
          font-size 14px
          color $cGreen

          img
            margin-right 6px

        a:hover
          color $cGreen-d