block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-search-result

        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                span Результаты поиска

        h1 Поиск по сайту

        form(action="" method="").search-form.grid
            input(type="text" name="search" placeholder="" value="Синяя ткань в полоску").inp.grid-item
            label.grid-item
                input(type="submit" value="")

        ul.result--list
            li.result--list__el
                .result--list__el--img
                    .visible
                        img(src="../../../img/img--material-2.jpg" alt /)
                    .hidden
                        img(src="../../../img/img--material-2.jpg" alt /)

                .result--list__el__content
                    .result--list__el__content--title
                        a(href="") Американский хлопок
                    ul.breadcrumbs
                        li
                            a(href="") Ткани
                        li
                            a(href="") Американский хлопок

                    p Широкие вертикальные полосы в&nbsp;сине-голубых оттенках. Прекрасный принт для летнего платья или широкой юбки в&nbsp;пол. Ткань подойдет для скрапбукинга, текстильных предметов интерьера, платьев для кукол.

                .result--list__el__info
                    span.result--list__el__info-price 120
                        i o
                    span.result--list__el__info-measure 0.1м
                        i 2

            li.result--list__el
                .result--list__el--img
                    .visible
                        img(src="../../../img/img--material-2.jpg" alt /)
                    .hidden
                        img(src="../../../img/img--material-2.jpg" alt /)
                .result--list__el__content
                    .result--list__el__content--title
                        a(href="") Американский хлопок
                    ul.breadcrumbs
                        li
                            a(href="") Ткани
                        li
                            a(href="") Американский хлопок
                    p Широкие вертикальные полосы в&nbsp;сине-голубых оттенках. Прекрасный принт для летнего платья или широкой юбки в&nbsp;пол. Ткань подойдет для скрапбукинга, текстильных предметов интерьера, платьев для кукол.
                .result--list__el__info
                    span.result--list__el__info-price 120
                        i o
                    span.result--list__el__info-measure 0.1м
                        i 2

            li.result--list__el
                .result--list__el--img
                    .visible
                        img(src="../../../img/img--material-2.jpg" alt /)
                    .hidden
                        img(src="../../../img/img--material-2.jpg" alt /)
                .result--list__el__content
                    .result--list__el__content--title
                        a(href="") Американский хлопок
                    ul.breadcrumbs
                        li
                            a(href="") Ткани
                        li
                            a(href="") Американский хлопок
                    p Широкие вертикальные полосы в&nbsp;сине-голубых оттенках. Прекрасный принт для летнего платья или широкой юбки в&nbsp;пол. Ткань подойдет для скрапбукинга, текстильных предметов интерьера, платьев для кукол.
                .result--list__el__info
                    span.result--list__el__info-price 120
                        i o
                    span.result--list__el__info-measure 0.1м
                        i 2

            li.result--list__el
                .result--list__el--img
                    .visible
                        img(src="../../../img/img--material-2.jpg" alt /)
                    .hidden
                        img(src="../../../img/img--material-2.jpg" alt /)
                .result--list__el__content
                    .result--list__el__content--title
                        a(href="") Американский хлопок
                    ul.breadcrumbs
                        li
                            a(href="") Ткани
                        li
                            a(href="") Американский хлопок
                    p Широкие вертикальные полосы в&nbsp;сине-голубых оттенках. Прекрасный принт для летнего платья или широкой юбки в&nbsp;пол. Ткань подойдет для скрапбукинга, текстильных предметов интерьера, платьев для кукол.
                .result--list__el__info
                    span.result--list__el__info-price 120
                        i o
                    span.result--list__el__info-measure 0.1м
                        i 2


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/search-result.jpg",opacity: 0.5,top: 11,left: 0,center: false,clip: true,show: false});});