block vars

footer.footer
    .justifyed
        .footer--catalog
            span Каталог
            ul
                li
                    a(href="") Ткани
                li
                    a(href="") Фурнитура
                li
                    a(href="") Ткани оптом
                li
                    a(href="") Журналы и выкройки

        .footer--info
            span Информация
            ul
                li
                    a(href="") Пользовательское соглашение
                li
                    a(href="") О нас
                li
                    a(href="") Политика конфеденциальности
                li
                    a(href="") Блог
                li
                    a(href="") Доставка и оплата
                li
                    a(href="") Контакты

        .footer__cotacts
            a(href="tel:88007777131").footer__cotacts-phone +7 800 777 71 31
            a(href="tel:84957717131").footer__cotacts-phone +7 495 771 71 31

            .footer__cotacts--social
                span Присоединяйтесь к нам
                ul
                    li
                        a(href="").social-fb
                    li
                        a(href="").social-tw
                    li
                        a(href="").social-vk

            span.footer__cotacts--copyright © 2015 ООО «Модные Вместе» Все права защищены

