block vars
    - var title='Title'

extends ../../partials/layout

block content
    .page-delivery

        ul.breadcrumbs
            li
                a(href="") Главная страница
            li
                span Доставка и оплата

        h1 Доставка и оплата

        .tabs
            ul.tabs__caption
                li.active Москва
                li Санкт-Петербург
                li Другие города
                li.link
                    a(href="").btn-green Варианты оплаты

            .tabs__content.active
                ul.accordeon
                    li.sub.open
                        .sub--title
                            span Самовывоз из офиса
                            i - Бесплатно

                        .sub--content
                            p У&nbsp;вас есть возможность совершенно бесплатно забрать свой товар непосредственно из&nbsp;офиса нашей компании, который находится рядом со&nbsp;станцией метро Бауманская.
                            p Адрес: Метро Бауманская, набережная Академика Туполева, д.15, корп.28 Время работы: с&nbsp;10.00 до&nbsp;20.00&nbsp;ежедневно, кроме выходных и&nbsp;официальных праздников.
                            p
                                strong  Важно!
                            p Получить свой заказ по&nbsp;указанному адресу вы&nbsp;можете с&nbsp;10.00 до&nbsp;20.00&nbsp;на следующий день после того, как ваш заказ будет подтвержден.
                            p Чтобы попасть на&nbsp;территорию нашего офиса, необходим паспорт гражданина&nbsp;РФ для предъявления на&nbsp;посту охраны. В&nbsp;случае отсутствия у&nbsp;вас паспорта гражданина&nbsp;РФ вам необходимо позвонить нам по&nbsp;телефону&nbsp;8 (495) 771-71-31 и&nbsp;заказать пропуск. Оформление пропуска может занимать до&nbsp;5&nbsp;рабочих дней.

                    li.sub
                        .sub--title
                            span Самовывоз из пунктов выдачи товаров в городе Москва
                            i - 250 р.

                        .sub--content
                            p Для вашего удобства предоставляем возможность забрать свой товар в&nbsp;одном из&nbsp;ближайших к&nbsp;вам пунктов выдачи товара в&nbsp;г. Москва. Все пункты расположены в&nbsp;непосредственной близости с&nbsp;указанными станциями метро.
                            p Пункты самовывоза работают с&nbsp;10.00 до&nbsp;20.00&nbsp;ежедневно, кроме выходных и&nbsp;официальных праздников.
                            p Стоимость доставки товара весом до&nbsp;5&nbsp;кг в&nbsp;любой из&nbsp;пунктов самовывоза&nbsp;&mdash; 250&nbsp;руб.
                            p Стоимость доставки товара весом свыше 5 кг уточняется у менеджеров.

                            div.map-container
                                div.map-aside
                                    span Адреса пунктов самовывоза
                                    ul
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м «Пушкинская» (М Чеховская, М Тверская) Палашевский Малый пер., д.6
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м «Братиславская» ул.Братиславская д.16/2
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м «Новые Черемушки» ул. Профсоюзная, д. 45
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м «Петровско-Разумовская»Линии Октябрьской железной дороги д.1, стр.5

                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Новокузнецкая» ул. Новокузнецкая, д.1, офис 20
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Юго-Западная» просп. Вернадского, д. 86Б, стр. 1, этаж 3, 2-ое здание ТЦ АЛЬМИРАЛ
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Преображенская площадь» Преображенская пл., д. 6, этаж 2
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Октябрьское поле» ул. Маршала Мерецкого, д. 4

                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Щелковская» ул.9-я парковая, вл. 61 А. стр.1
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Новогиреево» Свободный проспект, д.33 А
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Выхино» ул. Хлобыстова, д.3
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Речной вокзал» ул. Фестивальная, д.2А
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Митино» ул. Митинская д.36
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Сходненская» ул. Героев Панфиловцев, д.1
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Теплый Стан» ул. Новоясеневский проспект, д.2
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Коломенская» пр-т Андропова, д.36
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Крылатское» Рублевское ш., д.48/1
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Тульская» ул.Большая Тульская, д.2
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «ВДНХ» проспект Мира, д.150 гостиница Космос

                                div(id="mapmosc" data-point="../../../js/ajax/mapmpscow.json").map

                    li.sub
                        .sub--title
                            span Курьерская доставка
                            i - от 400 р.

                        .sub--content
                            p
                                strong Доставка курьером (для жителей Москвы и Московской области)
                            p Стоимость доставки товара весом до&nbsp;5&nbsp;кг&nbsp;&mdash; 400&nbsp;руб. Стоимость доставки товара весом свыше 5&nbsp;кг согласовывается с&nbsp;менеджером.
                            p Расчет за&nbsp;товар производится наличными с&nbsp;курьером, который обязан выдать фискальный кассовый чек.
                            p
                                i Время доставки
                            p В&nbsp;пределах МКАД: понедельник-пятница с&nbsp;9:00 до&nbsp;21:00. В&nbsp;субботу&nbsp;&mdash; с&nbsp;9:00 до&nbsp;18:00.
                                br
                                = "За пределами МКАД: понедельник–суббота с 9:00 до 18:00."
                            p
                                i Условия доставки
                            p В&nbsp;пределах МКАД: на&nbsp;следующий день, если заказ был подтвержден до&nbsp;11:00.
                                br
                                = " За пределами МКАД: в течение 1-3 рабочих дней."
                            p Доплата к основной стоимости доставки за пределы МКАД

                            table.delivery-surcharge
                                tr
                                    td.title Расстояние от МКАД, км
                                    td 0-5
                                    td 5-10
                                    td 10-15
                                    td 15-20
                                    td 20-25
                                    td 25-30
                                    td 30-35
                                    td 35-40
                                    td 40-45
                                    td 45-50
                                tr
                                    td.title Стоимость, руб.
                                    td 50
                                    td 100
                                    td 150
                                    td 200
                                    td 250
                                    td 300
                                    td 350
                                    td 400
                                    td 450
                                    td 500

                            p Минимальный временной интервал доставки 3&nbsp;часа (кроме субботы, декабря и&nbsp;доставки за&nbsp;МКАД)
                                br
                                = " Максимальное время ожидания курьера с&nbsp;момента прибытия&nbsp;&mdash; 15&nbsp;минут."
                            p
                                strong Важно!
                            p В&nbsp;курьерской службе заказ хранится&nbsp;3 (три) рабочих дня.


                    li.sub
                        .sub--title
                            span Почта России
                            i - от 50 р.
                        .sub--content
                            p Среди всех существующих способов доставки, этот способ занимает больше времени, чем любой другой, но&nbsp;имеет свои преимущества, особенно для жителей тех городов, куда невозможно (или дорого) доставить товар другими способами.
                            p В зависимости от региона доставка может занимать от 2 до 4 недель.
                            p
                                strong Важно!
                            p Почта России принимает посылки, не превышающие определенных размеров:
                            p Стандартные: вес – до 10 кг, максимальные размеры - 425х265х380 мм;
                                br
                                = "Нестандартные: вес – от 10 до 20 кг, максимальные размеры - 425х265х380 мм."
                            p
                                strong Условия отправки
                            p Товар будет отправлен в&nbsp;течение 1-2 дней при условии его наличия на&nbsp;складе. В&nbsp;противном случае полная комплектация будет осуществляться в&nbsp;течение 1&nbsp;недели. Если по&nbsp;прошествии недели какой-то единицы товара на&nbsp;складе так и&nbsp;не&nbsp;окажется, посылка может быть отправлена без него, чтобы не&nbsp;увеличивать время вашего ожидания. При возникновении такой ситуации с&nbsp;вами свяжется наш менеджер, чтобы согласовать вопросы комплектации и&nbsp;сроков отправки.
                            p Заказ будет отправлен ценной посылкой/бандеролью 1&nbsp;класса в&nbsp;ближайшее почтовое отделение на&nbsp;указанный вами адрес. При получении посылки в&nbsp;вашем почтовом отделении вам необходимо в&nbsp;присутствии работника отделения вскрыть посылку и&nbsp;проверить ее&nbsp;содержимое согласно накладной. При отсутствии какой-то единицы товара сотрудником почтового отделения должен быть составлен акт.
                            p Стоимость отправления ценной посылки – 350 руб
                                br
                                = "Стоимость отправления заказной бандероли 1 класса – 650 руб."
                            p
                                strong Важно!
                            p Стоимость почтового отправления не&nbsp;зависит от&nbsp;количества отправляемых позиций товара, но&nbsp;включает часть расходов на&nbsp;пересылку и&nbsp;упаковку заказа.

                    li.sub
                        .sub--title
                            span PickPoint (автоматизированные пункты выдачи):
                            i - от 100 р.
                        .sub--content
                            p  Способ, предлагаемый компанией PickPoint, является самым инновационным, удобным и&nbsp;простым.
                                br
                                = "На&nbsp;сегодняшний день в&nbsp;Москве таких пунктов насчитывается около 50. Также этот сервис доступен более чем в&nbsp;80&nbsp;городах России."

                            p 3&nbsp;простых действия, чтобы получить ваш товар:

                            ul.number-style
                                li При оформлении доставки непосредственно на&nbsp;сайте вы&nbsp;можете выбрать способ доставки: до&nbsp;постамата или пункта выдачи PickPoint. Адрес ближайшего к&nbsp;вам постамата или пункта выдачи вы&nbsp;найдете на&nbsp;карте или в&nbsp;списке терминалов.
                                li Забрать товар в&nbsp;постамате или пункте выдачи вы&nbsp;можете в&nbsp;течение 3-х дней. Сделать это можно после того, как получите SMS-сообщение и&nbsp;e-mail с&nbsp;уникальным кодом посылки. Сообщение вам будет отправлено только после того, как ваш заказ будет размещен в&nbsp;посылочном терминале.
                                li В&nbsp;случае если вы&nbsp;не&nbsp;оплатили товар во&nbsp;время заказа на&nbsp;сайте, сделать это можно непосредственно в&nbsp;терминале наличными или пластиковой картой.

                            p
                                strong Города доставки PickPоint

                            p Сегодня вы&nbsp;имеете возможность заказать товары с&nbsp;доставкой PickPoint в&nbsp;следующие города:
                            p Москва, Анапа, Армавир, Архангельск, Астрахань, Барнаул, Белгород, Березники, Брянск, Верхняя Пышма, Владивосток, Владимир, Волгоград, Волгодонск, Вологда, Воронеж, Геленджик, Екатеринбург, Иваново, Ижевск, Йошкар-Ола, Иркутск, Казань, Калуга, Каменск-Уральский, Кемерово, Киров, Комсомольск-на-Амуре, Кострома, Краснодар, Красноярск, Курган, Курск, Липецк, Магадан, Майкоп, Магнитогорск, Мурманск, Надым, Набережные Челны, Нижневартовск, Нижний Новгород, Нижний Тагил, Новокузнецк, Новороссийск, Новосибирск, Новый Уренгой, Омск, Орел, Оренбург, Орск, Пенза, Пермь, Петрозаводск, Псков, Пятигорск, Ростов-На-Дону, Рыбинск, Рязань, Самара, Санкт-Петербург, Саранск, Саратов, Саров, Серов, Смоленск, Сочи, Ставрополь, Сургут, Сызрань, Сыктывкар, Таганрог, Тамбов, Тверь, Тольятти, Томск, Туапсе, Тула, Тюмень, Улан-Удэ, Ульяновск, Уфа, Хабаровск, Чебоксары, Челябинск, Череповец, Ярославль, Якутск.

                    li.sub
                        .sub--title
                            span EMS почта России
                            i - от 300 р.
                        .sub--content
                            p EMS Почта России доставляет грузы до&nbsp;30&nbsp;кг во&nbsp;все регионы страны в&nbsp;течение 2-8 дней (в&nbsp;зависимости от&nbsp;региона). Тарифы курьерской службы EMS Почта России считаются одними из&nbsp;самых недорогих. А&nbsp;если говорить об&nbsp;отдаленных регионах, таких как Сибирь или Дальний Восток, то&nbsp;этот вид доставки обходится даже дешевле, чем доставка обычной почтой и&nbsp;в&nbsp;более короткие сроки.
                            p Стоимость доставки будет рассчитана согласно общему весу заказанных товаров в&nbsp;соответствии с&nbsp;тарифной зоной, куда входит ваш регион. Более точно ее&nbsp;вам назовет наш менеджер во&nbsp;время оформления заказа.
                            p Вы&nbsp;также можете просчитать тариф самостоятельно, определив вашу тарифную зону на&nbsp;сайте www.emspost.ru.
                            p Заказ будет отправлен по указанному при оформлении адресу. По прибытии товара в ваш город, вам позвонит курьер по указанному в заказе телефону, чтобы согласовать удобное для вас время доставки.

            .tabs__content
                ul.accordeon
                    li.sub.open
                        .sub--title
                            span Самовывоз из пунктов выдачи товаров в городе Санкт-Петербург
                            i - 250 р.

                        .sub--content
                            p Для вашего удобства предоставляем возможность забрать свой товар в&nbsp;одном из&nbsp;ближайших к&nbsp;вам пунктов получения товара в&nbsp;г. Санкт-Петербург. Все пункты расположены в&nbsp;непосредственной близости с&nbsp;указанными станциями метро.
                            p Пункты самовывоза работают с&nbsp;10.00 до&nbsp;20.00&nbsp;ежедневно, кроме воскресенья и&nbsp;официальных праздников.
                            p Стоимость доставки товара весом до 5 кг в любой из пунктов самовывоза – 250 руб.
                                br
                                = "Стоимость доставки товара весом свыше 5 кг уточняется у менеджеров."

                            div.map-container
                                div.map-aside
                                    span Адреса пунктов самовывоза
                                    ul
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м «Площадь Восстания», ул.Пушкинская, д. 10
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м «Сеннная площадь», ул.Гороховая, д. 49
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м ул. Дыбенко, д. 27, к. 1
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #0252a2")
                                            span(style="color: #0252a2") м Комендантский проспект, ул.Ильюшина, д.1, корп.1

                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м Парк Победы,Московский пр., дом 165

                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Проспект Просвещения», пр-т Энгельса, д. 143, корп. 1
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Академическая», пр-т Гражданский, д. 51, корп. 1
                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #b1d332")
                                            span(style="color: #b1d332") м «Октябрьское поле» м «Автово», пр-т Стачек, д, 92, корп. 3

                                        li
                                            img(src="../../../img/icon--contacts-subway.png" alt style="background: #ef1e25")
                                            span(style="color: #ef1e25") м «Международная», ул.Белы Куна, д.1, корпус 1

                                div(id="mapsptb" data-point="../../../js/ajax/mapsptb.json").map

                            p
                                strong Важная информация:

                            p Пункт выдачи не&nbsp;является магазином, поэтому вы&nbsp;можете только получить заказ, оформленный вами на&nbsp;сайте или через оператора. Возврат, обмен или консультация в&nbsp;пункте выдачи НЕ&nbsp;ПРОИЗВОДЯТСЯ!
                            p Подтвержденные до&nbsp;15.00 заказы вы&nbsp;получаете на&nbsp;следующий день с&nbsp;12:00. Заказы, оформленные в&nbsp;пятницу, после 15:00, можно получить в&nbsp;пункте самовывоза только во&nbsp;вторник!
                            p Срок хранения заказа в пункте самовывоза – 5 (пять) календарных дней.

                    li.sub
                        .sub--title
                            span Курьерская доставка
                            i - от 400 р.

                        .sub--content
                            p Стоимость доставки товара весом до&nbsp;5&nbsp;кг&nbsp;&mdash; 400&nbsp;руб. Стоимость доставки товара весом свыше 5&nbsp;кг согласовывается с&nbsp;менеджером.
                            p Расчет за товар производится наличными с курьером, который обязан выдать фискальный кассовый чек.
                            p
                                i Время доставки
                            p В пределах КАД: понедельник-суббота с 10:00 до 18:00. Возможна доставка с 18:00 до 21:00, понедельник-пятница. В субботу – с 9:00 до 18:00.
                                br
                                = "За пределами КАД (не дальше 30 км от черты города): понедельник–суббота с 10:00 до 18:00."
                            p
                                i Условия доставки
                            p В пределах КАД: на следующий день, если заказ был подтвержден до 14:00.
                                br
                                = " За пределами КАД (не дальше 30 км от черты города): в течение 1-2 рабочих дней."
                            p Минимальный временной интервал доставки 3 часа (кроме субботы, декабря и доставки за КАД)
                            p Доплата к основной стоимости доставки за пределы КАД
                            table.delivery-surcharge
                                tr
                                    td.title Расстояние от КАД, км
                                    td 0-5
                                    td 5-10
                                    td 10-15
                                    td 15-20
                                    td 20-25
                                    td 25-30
                                tr
                                    td.title Стоимость, руб.
                                    td 50
                                    td 100
                                    td 150
                                    td 200
                                    td 250
                                    td 300

                            p Максимальное время ожидания курьера с момента прибытия - 15 минут.
                            p
                                strong Важно!
                            p В&nbsp;курьерской службе заказ хранится&nbsp;3 (три) рабочих дня.


                    li.sub
                        .sub--title
                            span Почта России
                            i - от 50 р.
                        .sub--content
                            p Среди всех существующих способов доставки, этот способ занимает больше времени, чем любой другой, но&nbsp;имеет свои преимущества, особенно для жителей тех городов, куда невозможно (или дорого) доставить товар другими способами.
                            p В зависимости от региона доставка может занимать от 2 до 4 недель.
                            p
                                strong Важно!
                            p Почта России принимает посылки, не превышающие определенных размеров:
                            p Стандартные: вес – до 10 кг, максимальные размеры - 425х265х380 мм;
                                br
                                = "Нестандартные: вес – от 10 до 20 кг, максимальные размеры - 425х265х380 мм."
                            p
                                strong Условия отправки
                            p Товар будет отправлен в&nbsp;течение 1-2 дней при условии его наличия на&nbsp;складе. В&nbsp;противном случае полная комплектация будет осуществляться в&nbsp;течение 1&nbsp;недели. Если по&nbsp;прошествии недели какой-то единицы товара на&nbsp;складе так и&nbsp;не&nbsp;окажется, посылка может быть отправлена без него, чтобы не&nbsp;увеличивать время вашего ожидания. При возникновении такой ситуации с&nbsp;вами свяжется наш менеджер, чтобы согласовать вопросы комплектации и&nbsp;сроков отправки.
                            p Заказ будет отправлен ценной посылкой/бандеролью 1&nbsp;класса в&nbsp;ближайшее почтовое отделение на&nbsp;указанный вами адрес. При получении посылки в&nbsp;вашем почтовом отделении вам необходимо в&nbsp;присутствии работника отделения вскрыть посылку и&nbsp;проверить ее&nbsp;содержимое согласно накладной. При отсутствии какой-то единицы товара сотрудником почтового отделения должен быть составлен акт.
                            p Стоимость отправления ценной посылки – 350 руб
                                br
                                = "Стоимость отправления заказной бандероли 1 класса – 650 руб."
                            p
                                strong Важно!
                            p Стоимость почтового отправления не&nbsp;зависит от&nbsp;количества отправляемых позиций товара, но&nbsp;включает часть расходов на&nbsp;пересылку и&nbsp;упаковку заказа.

                    li.sub
                        .sub--title
                            span PickPoint (автоматизированные пункты выдачи):
                            i - от 100 р.
                        .sub--content
                            p  Способ, предлагаемый компанией PickPoint, является самым инновационным, удобным и&nbsp;простым.
                                br
                                = "На&nbsp;сегодняшний день в&nbsp;Москве таких пунктов насчитывается около 50. Также этот сервис доступен более чем в&nbsp;80&nbsp;городах России."

                            p 3&nbsp;простых действия, чтобы получить ваш товар:

                            ul.number-style
                                li При оформлении доставки непосредственно на&nbsp;сайте вы&nbsp;можете выбрать способ доставки: до&nbsp;постамата или пункта выдачи PickPoint. Адрес ближайшего к&nbsp;вам постамата или пункта выдачи вы&nbsp;найдете на&nbsp;карте или в&nbsp;списке терминалов.
                                li Забрать товар в&nbsp;постамате или пункте выдачи вы&nbsp;можете в&nbsp;течение 3-х дней. Сделать это можно после того, как получите SMS-сообщение и&nbsp;e-mail с&nbsp;уникальным кодом посылки. Сообщение вам будет отправлено только после того, как ваш заказ будет размещен в&nbsp;посылочном терминале.
                                li В&nbsp;случае если вы&nbsp;не&nbsp;оплатили товар во&nbsp;время заказа на&nbsp;сайте, сделать это можно непосредственно в&nbsp;терминале наличными или пластиковой картой.

                            p
                                strong Города доставки PickPоint

                            p Сегодня вы&nbsp;имеете возможность заказать товары с&nbsp;доставкой PickPoint в&nbsp;следующие города:
                            p Москва, Анапа, Армавир, Архангельск, Астрахань, Барнаул, Белгород, Березники, Брянск, Верхняя Пышма, Владивосток, Владимир, Волгоград, Волгодонск, Вологда, Воронеж, Геленджик, Екатеринбург, Иваново, Ижевск, Йошкар-Ола, Иркутск, Казань, Калуга, Каменск-Уральский, Кемерово, Киров, Комсомольск-на-Амуре, Кострома, Краснодар, Красноярск, Курган, Курск, Липецк, Магадан, Майкоп, Магнитогорск, Мурманск, Надым, Набережные Челны, Нижневартовск, Нижний Новгород, Нижний Тагил, Новокузнецк, Новороссийск, Новосибирск, Новый Уренгой, Омск, Орел, Оренбург, Орск, Пенза, Пермь, Петрозаводск, Псков, Пятигорск, Ростов-На-Дону, Рыбинск, Рязань, Самара, Санкт-Петербург, Саранск, Саратов, Саров, Серов, Смоленск, Сочи, Ставрополь, Сургут, Сызрань, Сыктывкар, Таганрог, Тамбов, Тверь, Тольятти, Томск, Туапсе, Тула, Тюмень, Улан-Удэ, Ульяновск, Уфа, Хабаровск, Чебоксары, Челябинск, Череповец, Ярославль, Якутск.

                    li.sub
                        .sub--title
                            span EMS почта России
                            i - от 300 р.
                        .sub--content
                            p EMS Почта России доставляет грузы до&nbsp;30&nbsp;кг во&nbsp;все регионы страны в&nbsp;течение 2-8 дней (в&nbsp;зависимости от&nbsp;региона). Тарифы курьерской службы EMS Почта России считаются одними из&nbsp;самых недорогих. А&nbsp;если говорить об&nbsp;отдаленных регионах, таких как Сибирь или Дальний Восток, то&nbsp;этот вид доставки обходится даже дешевле, чем доставка обычной почтой и&nbsp;в&nbsp;более короткие сроки.
                            p Стоимость доставки будет рассчитана согласно общему весу заказанных товаров в&nbsp;соответствии с&nbsp;тарифной зоной, куда входит ваш регион. Более точно ее&nbsp;вам назовет наш менеджер во&nbsp;время оформления заказа.
                            p Вы&nbsp;также можете просчитать тариф самостоятельно, определив вашу тарифную зону на&nbsp;сайте www.emspost.ru.
                            p Заказ будет отправлен по указанному при оформлении адресу. По прибытии товара в ваш город, вам позвонит курьер по указанному в заказе телефону, чтобы согласовать удобное для вас время доставки.

            .tabs__content
                ul.accordeon
                    li.sub.open
                        .sub--title
                            span Самовывоз из пунктов выдачи товаров
                            i - 270 р.

                        .sub--content
                            p Если вы проживаете в одном из нижеперечисленных городов России, то можете забрать заказ в пункте выдачи в вашем городе. Все пункты самовывоза расположены в непосредственной близости от указанных станций метро.
                                br
                                = "Время выдачи: с 10:00 до 20:00 ежедневно, кроме выходных и праздничных дней."
                            ol.dot-style
                                li Стоимость доставки товара весом до 5 кг до пункта самовывоза – 270 руб.
                                li Стоимость доставки товара весом от 5 кг согласовывается с менеджером.

                            p Если вы проживаете в одном из нижеперечисленных городов России, то можете забрать заказ в пункте выдачи в вашем городе. Все пункты самовывоза расположены в непосредственной близости от указанных станций метро.
                                br
                                = "Время выдачи: с 10:00 до 20:00 ежедневно, кроме выходных и праздничных дней."
                            ol.dot-style
                                li Стоимость доставки товара весом до 5 кг до пункта самовывоза – 270 руб.
                                li Стоимость доставки товара весом от 5 кг согласовывается с менеджером.

                            p Адреса пунктов для самовывоза:
                            ul.number-style
                                li г. Екатеринбург ул.8 Марта, д.8, ТЦ «Мытный двор» 2 этаж
                                li г. Калуга ул.Достоевского, д.40
                                li г. Нижний Новгород, ул.Короленко, д.19б
                                li г. Орел, ул.Салтыкова-Щедрина, д.34
                                li г. Тверь, ул.Симеоновская, д.1
                                li г. Тюмень ул.Советская, д.55/3
                                li г. Ярославль ул.Рыбинская, д.9

                            p
                                strong Важная информация:

                            p Пункт выдачи не является магазином, поэтому вы можете только получить заказ, оформленный вами на сайте или через оператора. Возврат, обмен или консультация в пункте выдачи НЕ ПРОИЗВОДЯТСЯ!\
                                br
                                =" Срок хранения заказа в пункте самовывоза – 5 (пять) календарных дней."

                    li.sub
                        .sub--title
                            span Курьерская доставка
                            i - от 400 р.

                        .sub--content
                            ol.dot-style
                                li Стоимость курьерской доставки товара весом до 5 кг – 400 руб.
                                li Стоимость курьерской доставки товара свыше 5 кг согласовывается с менеджером.

                            p Список городов, в которых вы можете оформить курьерскую доставку:

                            ol.dot-style
                                li Брянск
                                li Владимир
                                li Вологда
                                li Екатеринбург
                                li Иваново
                                li Калуга
                                li Кострома
                                li Нижний Новгород
                                li Орел
                                li Тверь
                                li Тула
                                li Тюмень
                                li Рязань
                                li Челябинск
                                li Ярославль

                            p
                                i (Список регулярно пополняется).

                            p
                                i Время доставки
                            p Понедельник-суббота с 11:00 до 18:00.
                                br
                                = "Доставка с 18:00 до 21:00 доступна в понедельник-пятницу только в городах: Нижний Новгород, Калуга, Ярославль, Екатеринбург, Тюмень."
                            p В субботу доставка работает с 9:00 до 18:00.

                            p
                                i Условия доставки
                            p При подтверждении заказа до 15:00 вы можете получить его в течение 1-2 рабочих дней.
                                br
                                = " Для городов Екатеринбург, Челябинск и Тюмень: при подтверждении заказа до 15:00 вы можете получить его в течение 3-4 рабочих дней."
                            p Максимальное время ожидания курьера с момента прибытия - 15 минут.
                            p
                                strong Важно!
                            p Срок хранения заказа в курьерской службе - 3 (три) рабочих дня.

                    li.sub
                        .sub--title
                            span Почта России
                            i - от 50 р.
                        .sub--content
                            p Среди всех существующих способов доставки, этот способ занимает больше времени, чем любой другой, но&nbsp;имеет свои преимущества, особенно для жителей тех городов, куда невозможно (или дорого) доставить товар другими способами.
                            p В зависимости от региона доставка может занимать от 2 до 4 недель.
                            p
                                strong Важно!
                            p Почта России принимает посылки, не превышающие определенных размеров:
                            p Стандартные: вес – до 10 кг, максимальные размеры - 425х265х380 мм;
                                br
                                = "Нестандартные: вес – от 10 до 20 кг, максимальные размеры - 425х265х380 мм."
                            p
                                strong Условия отправки
                            p Товар будет отправлен в&nbsp;течение 1-2 дней при условии его наличия на&nbsp;складе. В&nbsp;противном случае полная комплектация будет осуществляться в&nbsp;течение 1&nbsp;недели. Если по&nbsp;прошествии недели какой-то единицы товара на&nbsp;складе так и&nbsp;не&nbsp;окажется, посылка может быть отправлена без него, чтобы не&nbsp;увеличивать время вашего ожидания. При возникновении такой ситуации с&nbsp;вами свяжется наш менеджер, чтобы согласовать вопросы комплектации и&nbsp;сроков отправки.
                            p Заказ будет отправлен ценной посылкой/бандеролью 1&nbsp;класса в&nbsp;ближайшее почтовое отделение на&nbsp;указанный вами адрес. При получении посылки в&nbsp;вашем почтовом отделении вам необходимо в&nbsp;присутствии работника отделения вскрыть посылку и&nbsp;проверить ее&nbsp;содержимое согласно накладной. При отсутствии какой-то единицы товара сотрудником почтового отделения должен быть составлен акт.
                            p Стоимость отправления ценной посылки – 350 руб
                                br
                                = "Стоимость отправления заказной бандероли 1 класса – 650 руб."
                            p
                                strong Важно!
                            p Стоимость почтового отправления не&nbsp;зависит от&nbsp;количества отправляемых позиций товара, но&nbsp;включает часть расходов на&nbsp;пересылку и&nbsp;упаковку заказа.

                    li.sub
                        .sub--title
                            span PickPoint (автоматизированные пункты выдачи):
                            i - от 100 р.
                        .sub--content
                            p  Способ, предлагаемый компанией PickPoint, является самым инновационным, удобным и&nbsp;простым.
                                br
                                = "На&nbsp;сегодняшний день в&nbsp;Москве таких пунктов насчитывается около 50. Также этот сервис доступен более чем в&nbsp;80&nbsp;городах России."

                            p 3&nbsp;простых действия, чтобы получить ваш товар:

                            ul.number-style
                                li При оформлении доставки непосредственно на&nbsp;сайте вы&nbsp;можете выбрать способ доставки: до&nbsp;постамата или пункта выдачи PickPoint. Адрес ближайшего к&nbsp;вам постамата или пункта выдачи вы&nbsp;найдете на&nbsp;карте или в&nbsp;списке терминалов.
                                li Забрать товар в&nbsp;постамате или пункте выдачи вы&nbsp;можете в&nbsp;течение 3-х дней. Сделать это можно после того, как получите SMS-сообщение и&nbsp;e-mail с&nbsp;уникальным кодом посылки. Сообщение вам будет отправлено только после того, как ваш заказ будет размещен в&nbsp;посылочном терминале.
                                li В&nbsp;случае если вы&nbsp;не&nbsp;оплатили товар во&nbsp;время заказа на&nbsp;сайте, сделать это можно непосредственно в&nbsp;терминале наличными или пластиковой картой.

                            p
                                strong Города доставки PickPоint

                            p Сегодня вы&nbsp;имеете возможность заказать товары с&nbsp;доставкой PickPoint в&nbsp;следующие города:
                            p Москва, Анапа, Армавир, Архангельск, Астрахань, Барнаул, Белгород, Березники, Брянск, Верхняя Пышма, Владивосток, Владимир, Волгоград, Волгодонск, Вологда, Воронеж, Геленджик, Екатеринбург, Иваново, Ижевск, Йошкар-Ола, Иркутск, Казань, Калуга, Каменск-Уральский, Кемерово, Киров, Комсомольск-на-Амуре, Кострома, Краснодар, Красноярск, Курган, Курск, Липецк, Магадан, Майкоп, Магнитогорск, Мурманск, Надым, Набережные Челны, Нижневартовск, Нижний Новгород, Нижний Тагил, Новокузнецк, Новороссийск, Новосибирск, Новый Уренгой, Омск, Орел, Оренбург, Орск, Пенза, Пермь, Петрозаводск, Псков, Пятигорск, Ростов-На-Дону, Рыбинск, Рязань, Самара, Санкт-Петербург, Саранск, Саратов, Саров, Серов, Смоленск, Сочи, Ставрополь, Сургут, Сызрань, Сыктывкар, Таганрог, Тамбов, Тверь, Тольятти, Томск, Туапсе, Тула, Тюмень, Улан-Удэ, Ульяновск, Уфа, Хабаровск, Чебоксары, Челябинск, Череповец, Ярославль, Якутск.

                    li.sub
                        .sub--title
                            span EMS почта России
                            i - от 300 р.
                        .sub--content
                            p EMS Почта России доставляет грузы до&nbsp;30&nbsp;кг во&nbsp;все регионы страны в&nbsp;течение 2-8 дней (в&nbsp;зависимости от&nbsp;региона). Тарифы курьерской службы EMS Почта России считаются одними из&nbsp;самых недорогих. А&nbsp;если говорить об&nbsp;отдаленных регионах, таких как Сибирь или Дальний Восток, то&nbsp;этот вид доставки обходится даже дешевле, чем доставка обычной почтой и&nbsp;в&nbsp;более короткие сроки.
                            p Стоимость доставки будет рассчитана согласно общему весу заказанных товаров в&nbsp;соответствии с&nbsp;тарифной зоной, куда входит ваш регион. Более точно ее&nbsp;вам назовет наш менеджер во&nbsp;время оформления заказа.
                            p Вы&nbsp;также можете просчитать тариф самостоятельно, определив вашу тарифную зону на&nbsp;сайте www.emspost.ru.
                            p Заказ будет отправлен по указанному при оформлении адресу. По прибытии товара в ваш город, вам позвонит курьер по указанному в заказе телефону, чтобы согласовать удобное для вас время доставки.


    script(type="text/javascript") $(function(){$.pixlayout({src: "../../../img/temp/payment-delivery.jpg",opacity: 0.5,top: 2,left: 108,center: false,clip: true,show: false});});
    script(type='text/javascript') $(function(){points = [{town : 'Смоленск',coords: ["54.782903","32.042278"],adress:'ул. Карла Маркса, д.14'},{town : ' Краснинский район',coords: ["54.567533","31.436533"],adress:'пгт. Красный, ул. Пролетарская д.1'},{town : 'Монастырщинский район',coords: ["54.353964","31.836716"],adress:'пгт. Монастырщина, ул.Советская д.30'},{town : 'Хиславичский район',coords: ["54.183466","32.157726"],adress:'пгт. Хиславичи, ул. Красная площадь д 8'},{town : 'Шумячский район',coords: ["54.065981","32.467430"],adress:'с. Первомайский, ул. Советская д.4 а'}]})
    script(type='text/javascript') $(function(){points_sptb = [{town : 'Смоленск',coords: ["54.782903","32.042278"],adress:'ул. Карла Маркса, д.14'},{town : ' Краснинский район',coords: ["54.567533","31.436533"],adress:'пгт. Красный, ул. Пролетарская д.1'},{town : 'Монастырщинский район',coords: ["54.353964","31.836716"],adress:'пгт. Монастырщина, ул.Советская д.30'},{town : 'Хиславичский район',coords: ["54.183466","32.157726"],adress:'пгт. Хиславичи, ул. Красная площадь д 8'},{town : 'Шумячский район',coords: ["54.065981","32.467430"],adress:'с. Первомайский, ул. Советская д.4 а'}]})
    script(type='text/javascript') $(function(){points_sp = {"type": "FeatureCollection","features": [{"type": "Feature", "id": 0, "geometry": {"type": "Point", "coordinates": [55.831903, 37.411961]}, "properties": {"balloonContent": "Содержимое балуна", "clusterCaption": "Еще одна метка", "hintContent": "Текст подсказки"}}]}})
    script(type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
