block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages
            a.list-group-item(href="pages/pageIndex/pageIndex.html")
                h4 Главная
            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 about-company
            a.list-group-item(href="pages/pageReview/pageReview.html")
                h4 reviews
            a.list-group-item(href="pages/pageBonus/pageBonus.html")
                h4 bonus-programm
            a.list-group-item(href="pages/pageCareer/pageCareer.html")
                h4 career
            a.list-group-item(href="pages/pageSearch-result/pageSearch-result.html")
                h4 Search-result
            a.list-group-item(href="pages/pageOpt/pageOpt.html")
                h4 cloths-opt
            a.list-group-item(href="pages/pageOpt/pageOpt-usa.html")
                h4 cloths-opt-usa
            a.list-group-item(href="pages/pageOpt/pageOpt-it.html")
                h4 cloths-opt-it
            a.list-group-item(href="pages/pageСloths/pageСloths.html")
                h4 cloths
            a.list-group-item(href="pages/pageMagazin/pageMagazin.html")
                h4 magazinсв
            a.list-group-item(href="pages/pageFurniture/pageFurniture.html")
                h4 furniture
            a.list-group-item(href="pages/pagePaymentorder/pagePaymentorder.html")
                h4 payment-order
            a.list-group-item(href="pages/pageContacts/pageContacts.html")
                h4 contact
            a.list-group-item(href="pages/pageGoods/pageGoods.html")
                h4 goods
            a.list-group-item(href="pages/pageBasket/pageBasket-1.html")
                h4 basket-1
            a.list-group-item(href="pages/pageBasket/pageBasket-2.html")
                h4 basket-2
            a.list-group-item(href="pages/pageBasket/pageBasket-3.html")
                h4 basket-3
            a.list-group-item(href="pages/pageBasket/pageBasket-4.html")
                h4 basket-4
            a.list-group-item(href="pages/pageBasket/pageBasket-5.html")
                h4 basket-5
            a.list-group-item(href="pages/pageBlog/pageBlog.html")
                h4 blog
            a.list-group-item(href="pages/pagePaymentdelivery/pagePaymentdelivery.html")
                h4 paymentdelivery
            a.list-group-item(href="pages/pagePrivat/pagePrivatoffice.html")
                h4 privat-ofice
            a.list-group-item(href="pages/pageComprasion/pageComprasionsort.html")
                h4 comprasion sortable

        //- h3 UI kit
        //-     .list-group
        //-         a.list-group-item(href="/static/html/ui/preloader/preloader.html")
        //-             h4 Индикатор загрузки
