section
  position relative
  z-index 15

  p
    font-weight 300
    font-size 14px
    line-height 16px
    margin-bottom 10px

.section-text
  padding 0 20px

  p
    a
      display inline-block
      color $cRed
      text-decoration underline
      margin-left 4px

    a:hover
      text-decoration none

.index--about
  padding-bottom 32px

.section-commercial
  padding 0 20px 48px
  white-space nowrap

  .index-banner
    display inline-block
    vertical-align top
    width 500px
    height 200px
    position relative
    white-space normal

    .owl-item
      width 500px
      height 200px
      overflow hidden

    .owl-dots
      position absolute
      left 0
      right 0
      bottom -27px
      text-align center

      .owl-dot
        display inline-block
        vertical-align top
        background #cccccc
        width 8px
        height 8px
        border-radius 8px
        margin 0 2px

      .owl-dot.active
        background $cRed

  .index--solution
    margin-left 30px
    width 500px
    display inline-block
    vertical-align top
    border 1px solid #fffbdb

    img
      display inline-block
      vertical-align top
      white-space normal

    &-content
      display inline-block
      vertical-align top
      padding 18px 5px 0 25px
      white-space normal
      width 265px

      p
        margin-bottom 18px

.section-novelty
  text-align center
  padding-bottom 43px
  position relative
  z-index 20

.section-discount
  text-align center
  padding-bottom 46px
  position relative
  z-index 20

.section-community
  height 535px
  background url("../img/decor--border.png") no-repeat 50% 4px
  margin-bottom 14px
  position relative
  z-index 15

  h1
    margin-top 1px
    display block
    text-align center
    text-shadow none
    color $cGreen-l
    margin-bottom 0

  .tabs
    display inline-block
    vertical-align top
    width 770px
    text-align center
    margin-left 23px
    margin-top 19px
    position relative

    .tabs__caption
      display block
      width 442px
      height 74px
      background url("../img/bg__tabs.png") no-repeat 0 0
      margin 0 auto 17px
      text-align center

      li
        display inline-block
        vertical-align top
        font-family $fLobster
        font-size 24px
        margin 0 23px 0 13px
        color $cGreen-l
        padding-bottom 2px
        border-bottom 1px dotted $cGreen-l
        margin-top 18px
        cursor pointer

      li:hover
        border-bottom none

      li.active
        border-bottom none
        color $cRed
        cursor  default

    .tabs__content
      text-align center
      display none

      .grid-item
        width 340px
        margin 0 15px
        text-align left

    .tabs__content.active
      display block

  .tabs:after
    position absolute
    content ''
    right 0
    top 0
    bottom 0
    width 11px
    background url("../img/decor--shadow-left.png") no-repeat 0 50%

  .section-community__articles
    span
      display inline-block
      vertical-align top
      font-size 18px
      color $cRed
      margin-right 17px

    a.show-all
      display inline-block
      vertical-align top
      font-size 14px
      color $cGreen
      border-bottom 1px dotted $cGreen
      line-height 23px

    a.show-all:hover
      border-bottom 1px dotted transparent

    a.img
      display block
      margin-top 20px
      position relative

      img
        width 100%
        display block

    a.img:before
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background rgba(37,37,37,0.5) url(../img/img--eye.png) no-repeat 50% 50%
      content ''
      opacity 0
      transition opacity 0.2s
      -webkit-transition opacity 0.2s

    a.img:hover:before
      opacity 1

  .tabs__content.section-community__vacancy
    .grid-item
      text-align left

    .show-vacancy
      display inline-block
      vertical-align top
      color $cRed
      font-size 18px
      border-bottom 1px dashed $cRed
      margin-bottom 19px

    .show-vacancy:hover
      border-bottom 1px dashed transparent

    .section-community__vacancy-about
      display block
      border 1px solid #ebebeb
      padding 28px 10px 26px 30px

      p
        font-size 13px
        line-height 15px

      time
        display block
        text-align right
        color $cGray
        margin-right 18px
        padding-top 4px
        font-size 12px

    .show-all
      display inline-block
      vertical-align top
      color $cGreen
      padding-bottom 3px
      border-bottom 1px dotted $cGreen
      margin-top 18px
      float  right
      margin-right 31px
      font-size 14px

    .show-all:hover
      border-bottom  1px dotted transparent

  .section-community__contest
    text-align left

    span
      display block
      font-size 18px
      color $cRed
      text-align left
      margin-bottom 15px
      margin-left 27px

    a.img
      display block
      position relative

      img
        width 100%
        display block

    a.img:before
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background rgba(37,37,37,0.5) url(../img/img--eye.png) no-repeat 50% 50%
      content ''
      opacity 0
      transition opacity 0.2s
      -webkit-transition opacity 0.2s

    a.img:hover:before
      opacity 1


  .links
    text-align right
    margin-top 10px
    margin-right 27px

    a
      display inline-block
      font-size 14px
      margin-left 10px
      color $cGreen
      border-bottom 1px dotted $cGreen

    a:hover
      border-bottom 1px dotted transparent

  .social-api
    display inline-block
    vertical-align top
    margin-left 30px
    margin-top 6px

    #vk_groups
      margin-bottom 20px

.index--seo
  margin-bottom 35px

  p
    font-size 16px
    line-height 19px
    margin-bottom 20px

.section-links
  margin-left 18px
  margin-bottom 7px

  ul
    column-count 4

    li
      width 250px
      display inline-block
      vertical-align top
      padding-bottom 11px

      a
        color $cGreen-l
        border-bottom 1px solid $cGreen-l
        font-size 16px

      a:hover
        color $cGreen
        border-bottom none

      a.show-all
        color $cRed
        text-decoration none
        border-bottom 1px dotted $cRed

      a.show-all:hover
        color $cRed
        border-bottom none